/* GLOBAL*/
body{
  background-color: rgba(152, 161, 151, 1);

}
/*NAVBAR*/
.bg-green{
  background-color: #77CE77;
}
.header{
  font-size: 30px;
}

/*LANDING PAGE*/
#c1{
  width: 30rem;
  margin-left: 14rem;
}
.c2{
  width: 22rem;
}

.alligator{
  transform: scaleX(-1)
}

.flex-grid{
  background: linear-gradient(to top right, rgba(56, 188, 156, 0.76) 0%, rgba(76, 130, 51, 1) 95%);
  width: 47rem;
  height: 15rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;

}
.flex-container{
  flex-direction: column;
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  color: #000;
}
.text-styling{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 -2rem 0 1rem;
}
