/* GLOBAL*/
body{
  background-color: rgba(152, 161, 151, 1)
  ;
}
/*NAVBAR*/
.bg-green{
  background-color: #77CE77;
}
.header{
  font-size: 30px;
}

/*LANDING PAGE*/
#crocodile{
  width: 30rem;
  display: flex;
}
#alligator{
  width: 25rem;
  display: flex;

}
#gharial{
  width: 25rem;
  display: flex;

}
.flex-grid{
  background: linear-gradient(to top right, rgba(56, 188, 156, 0.76) 0%, rgba(76, 130, 51, 1) 95%);
  width: 47rem;
  height: 15rem;
  display: flex;
  margin-bottom: 1.5rem;

}
.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  text-decoration: none;
  color: #000;
}
